/* Css Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------------------------------------------------------------------- */
#startScreen{
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: lightskyblue;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#startScreen input{
    width: 8rem;
    height: 5rem;
    border-radius: 7px;
    background-color: goldenrod;
    padding: 1rem;
    font-size: 1rem;
    color: lightskyblue;
}
#startScreen h1{
    font-size: 3rem;
    color: goldenrod;
    margin-bottom: 1rem;
}




header{
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem;
    height: 1rem;
}
header h1{
    font-size: 2em;
}
header h3{
    font-size: 1.5em;
}
#gameArea{
    background-color: rgb(5, 79, 177);
    display: flex;
    justify-content: center;
    padding: 1rem;
}
#gameBoard{
    background-color: rgb(51, 189, 143);
    width: 90%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wordPhrase{
    display: flex;
    flex-wrap: wrap;
    
}
.gameCard{
    height: 4rem;
    width: 3.5rem;
    border: .2rem solid black;
    background-color: blanchedalmond;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}





#keyboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #018c70;
    padding: 1rem;
}

.alpha{
    display: flex;
    justify-content: center;
}
.alphabet{
    margin: .5rem;
    height: 4rem;
    width: 3.5rem;
    font-size: 2em;
    background-color: #eae2f0;
    border: .3rem solid black;
}
.vowel{
    background-color: yellow;
}
.hidden{
    background-color: #eae2f0;
    border: .3rem solid black;
    color: #eae2f0;
}